<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Href="Identity/Account/Register">Register</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Href="Identity/Account/Login">Log in</MudButton>
   </NotAuthorized>
</AuthorizeView>

