@page "/STCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade.ofSTCommodity
@inject EmployerSTCommodityPageViewModel _EmployerSTCommodityPageViewModel
<h3>STCommodityPage</h3>

@code {

}
