@page "/STCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@inject GetsEmployerSTCommodityViewModel _GetsEmployerSTCommodityViewModel 
@inject PostEmployerSTCommodityViewModel _PostEmployerSTCommodityViewModel
@inject PutEmployerSTCommodityViewModel _PutEmployerSTCommodityViewModel
@inject DeleteEmployerSTCommodityViewModel _DeleteEmployerSTCommodityViewModel
@inject BaseEmployerSTCommodityViewModel _BaseEmployerSTCommodityViewModel
<h3>STCommodityPage</h3>

@code {

}
