@page "/EOCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder.ofEOCommodity
@inject EmployerEOCommodityPageViewModel _EmployerEOCommodityPageViewModel
<h3>EOCommodityPage</h3>


@code {

}
