@page "/EOCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@inject GetsEmployerEOCommodityViewModel _GetsEmployerEOCommodityViewModel 
@inject PostEmployerEOCommodityViewModel _PostEmployerEOCommodityViewModel
@inject PutEmployerEOCommodityViewModel _PutEmployerEOCommodityViewModel
@inject DeleteEmployerEOCommodityViewModel _DeleteEmployerEOCommodityViewModel
@inject BaseEmployerEOCommodityViewModel _BaseEmployerEOCommodityViewModel
<h3>EOCommodityPage</h3>


@code {

}
