@page "/OrderCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder.ofOrderCenter
@inject EmployerOrderCenterPageViewModel _EmployerOrderCenterPageViewModel

<h3>OrderCenterPage</h3>

@code {

}
