@page "/OrderCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@inject GetsEmployerOrderCenterViewModel _GetsEmployerOrderCenterViewModel 
@inject PostEmployerOrderCenterViewModel _PostEmployerOrderCenterViewModel
@inject PutEmployerOrderCenterViewModel _PutEmployerOrderCenterViewModel
@inject DeleteEmployerOrderCenterViewModel _DeleteEmployerOrderCenterViewModel
@inject BaseEmployerOrderCenterViewModel _BaseEmployerOrderCenterViewModel
<h3>OrderCenterPage</h3>

@code {

}
