@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using MudBlazor
@if(ViewModel == null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
}
<h3>EmployerGetWarehouseComponent</h3>

@code {
    [Parameter] public BaseEmployerWarehouseViewModel? ViewModel { get; set; }
    [Parameter] public string? id { get; set; }
    [Parameter] public EventCallback DetailToGets {get; set;}
    protected override async Task OnInitializedAsync()
    {
        if(id != null)
        {
            await ViewModel.GetByIdAsync(id);
        }
    }
}
