@page "/DotBarcode"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerDotBarcodeViewModel _GetsEmployerDotBarcodeViewModel 
@inject PostEmployerDotBarcodeViewModel _PostEmployerDotBarcodeViewModel
@inject PutEmployerDotBarcodeViewModel _PutEmployerDotBarcodeViewModel
@inject DeleteEmployerDotBarcodeViewModel _DeleteEmployerDotBarcodeViewModel
@inject BaseEmployerDotBarcodeViewModel _BaseEmployerDotBarcodeViewModel
<h3>DotBarcodePage</h3>

@code {

}
