@page "/DotBarcode"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofDotBarcode
@inject EmployerDotBarcodePageViewModel _EmployerDotBarcodePageViewModel
<h3>DotBarcodePage</h3>

@code {

}
