@using BusinessView.ofDTO.ofCommon.ofEmployer
@using BusinessView.ofViewModels.ofGeneric
@using System.ComponentModel
@using BusinessView.ofViewModels.ofGeneric.ofCommon

@implements IDisposable

@typeparam T where T: CenterDTO, new()

@if (_EmployerCenterPostViewModel == null || _EmployerCenterPostViewModel.IsBusy || ManagedList == null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <h3>EmployerCenterPostComponent</h3>
    @foreach (var key in _EmployerCenterPostViewModel.StringProperty.Keys)
    {
        <MudTextField @bind-Value="_EmployerCenterPostViewModel.StringProperty[key]" Label="@key"></MudTextField>
    }
    @foreach (var key in _EmployerCenterPostViewModel.IntProperty.Keys)
    {
        <MudTextField @bind-Value="_EmployerCenterPostViewModel.IntProperty[key]" Label="@key"></MudTextField>
    }
    @foreach (var key in _EmployerCenterPostViewModel.DateTimeProperty.Keys)
    {
        <MudDatePicker @bind-Date="_EmployerCenterPostViewModel.DateTimeProperty[key]" Label="@key" />
    }
    <InputFile id="fileInput" OnChange="_EmployerCenterPostViewModel.UploadFiles" hidden multiple />

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput">
    Upload Files
</MudButton>
  <MudButton OnClick="PostAsync">Post</MudButton>
  <MudButton  
           Variant="Variant.Filled"
           Color="Color.Primary" 
           OnClick=_EmployerCenterPostViewModel.Back>Back
</MudButton>
}
@code {
    [Parameter] public CenterPostViewModel<T>? _EmployerCenterPostViewModel { get; set; }
    [Parameter] public List<T> ManagedList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _EmployerCenterPostViewModel.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
           {
               StateHasChanged();
           });
        };
        await base.OnInitializedAsync();
    }
    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        _EmployerCenterPostViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }

    public async Task PostAsync()
    {
        try
        {
            _EmployerCenterPostViewModel.PropertyToEntity();
            var value = await _EmployerCenterPostViewModel.PostAsync();
            if(value != null) { ManagedList.Add(value); }
        }
        catch (Exception e)
        {

        }
        finally
        {
            _EmployerCenterPostViewModel.IsBusy = false;
            _EmployerCenterPostViewModel.Entity = new();
            _EmployerCenterPostViewModel.DateTimeProperty.Clear();
            _EmployerCenterPostViewModel.IntProperty.Clear();
            _EmployerCenterPostViewModel.StringProperty.Clear();
            _EmployerCenterPostViewModel.InitializedByComponentMode(_EmployerCenterPostViewModel.ComponentMode);
            _EmployerCenterPostViewModel.postPageToGets();
        }
    }
}
