@page "/LoadFrame"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerLoadFrameViewModel _GetsEmployerLoadFrameViewModel 
@inject PostEmployerLoadFrameViewModel _PostEmployerLoadFrameViewModel
@inject PutEmployerLoadFrameViewModel _PutEmployerLoadFrameViewModel
@inject DeleteEmployerLoadFrameViewModel _DeleteEmployerLoadFrameViewModel
@inject BaseEmployerLoadFrameViewModel _BaseEmployerLoadFrameViewModel
<h3>LoadFramePage</h3>

@code {

}
