@page "/LoadFrame"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofLoadFrame
@inject EmployerLoadFramePageViewModel _EmployerLoadFramePageViewModel
<h3>LoadFramePage</h3>

@code {

}
