@page "/MGOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@inject GetsEmployerMGOCViewModel _GetsEmployerMGOCViewModel 
@inject PostEmployerMGOCViewModel _PostEmployerMGOCViewModel
@inject PutEmployerMGOCViewModel _PutEmployerMGOCViewModel
@inject DeleteEmployerMGOCViewModel _DeleteEmployerMGOCViewModel
@inject BaseEmployerMGOCViewModel _BaseEmployerMGOCViewModel
<h3>MGOCPage</h3>

@code {

}
