@page "/MGOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder.ofMGOC
@inject EmployerMGOCPageViewModel _EmployerMGOCPageViewModel
<h3>MGOCPage</h3>

@code {

}
