@page "/DividedTag"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofDividedTag
@inject EmployerDividedTagPageViewModel _EmployerDividedTagPageViewModel
<h3>DividedTagPage</h3>

@code {

}
