@page "/DividedTag"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerDividedTagViewModel _GetsEmployerDividedTagViewModel 
@inject PostEmployerDividedTagViewModel _PostEmployerDividedTagViewModel
@inject PutEmployerDividedTagViewModel _PutEmployerDividedTagViewModel
@inject DeleteEmployerDividedTagViewModel _DeleteEmployerDividedTagViewModel
@inject BaseEmployerDividedTagViewModel _BaseEmployerDividedTagViewModel
<h3>DividedTagPage</h3>

@code {

}
