@page "/SOCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder.ofSOCommodity
@inject EmployerSOCommodityPageViewModel _EmployerSOCommodityPageViewModel

<h3>SOCommodityPage</h3>

@code {

}
