@page "/SOCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@inject GetsEmployerSOCommodityViewModel _GetsEmployerSOCommodityViewModel 
@inject PostEmployerSOCommodityViewModel _PostEmployerSOCommodityViewModel
@inject PutEmployerSOCommodityViewModel _PutEmployerSOCommodityViewModel
@inject DeleteEmployerSOCommodityViewModel _DeleteEmployerSOCommodityViewModel
@inject BaseEmployerSOCommodityViewModel _BaseEmployerSOCommodityViewModel

<h3>SOCommodityPage</h3>

@code {

}
