@page "/GOCC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@inject GetsEmployerGOCCViewModel _GetsEmployerGOCCViewModel 
@inject PostEmployerGOCCViewModel _PostEmployerGOCCViewModel
@inject PutEmployerGOCCViewModel _PutEmployerGOCCViewModel
@inject DeleteEmployerGOCCViewModel _DeleteEmployerGOCCViewModel
@inject BaseEmployerGOCCViewModel _BaseEmployerGOCCViewModel
<h3>GOCCPage</h3>

@code {

}
