@page "/GOCC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder.ofGOCC
@inject EmployerGOCCPageViewModel _EmployerGOCCPageViewModel

<h3>GOCCPage</h3>

@code {

}
