@page "/HRCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR.ofHRCenter
@inject EmployerHRCenterPageViewModel _EmployerHRCenterPageViewModel
<h3>HRCenterPage</h3>

@code {

}
