@page "/HRCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@inject GetsEmployerHRCenterViewModel _GetsEmployerHRCenterViewModel 
@inject PostEmployerHRCenterViewModel _PostEmployerHRCenterViewModel
@inject PutEmployerHRCenterViewModel _PutEmployerHRCenterViewModel
@inject DeleteEmployerHRCenterViewModel _DeleteEmployerHRCenterViewModel
@inject BaseEmployerHRCenterViewModel _BaseEmployerHRCenterViewModel
<h3>HRCenterPage</h3>

@code {

}
