@page "/Journal"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal
@inject GetsEmployerJournalViewModel _GetsEmployerJournalViewModel 
@inject PostEmployerJournalViewModel _PostEmployerJournalViewModel
@inject PutEmployerJournalViewModel _PutEmployerJournalViewModel
@inject DeleteEmployerJournalViewModel _DeleteEmployerJournalViewModel
@inject BaseEmployerJournalViewModel _BaseEmployerJournalViewModel
<h3>JournalPage</h3>

@code {

}
