@page "/Journal"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal.ofJournal
@inject EmployerJournalPageViewModel _EmployerJournalPageViewModel
<h3>JournalPage</h3>

@code {

}
