@page "/MOCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@inject GetsEmployerMOCommodityViewModel _GetsEmployerMOCommodityViewModel 
@inject PostEmployerMOCommodityViewModel _PostEmployerMOCommodityViewModel
@inject PutEmployerMOCommodityViewModel _PutEmployerMOCommodityViewModel
@inject DeleteEmployerMOCommodityViewModel _DeleteEmployerMOCommodityViewModel
@inject BaseEmployerMOCommodityViewModel _BaseEmployerMOCommodityViewModel
<h3>MOCommodityPage</h3>

@code {

}
