@page "/MOCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder.ofMOCommodity
@inject EmployerMOCommodityPageViewModel _EmployerMOCommodityPageViewModel
<h3>MOCommodityPage</h3>

@code {

}
