@page "/EmployeeRole"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR.ofEmployeeRole
@inject EmployerEmployeeRolePageViewModel _EmployeeRolePageViewModel
<h3>EmployeeRolePage</h3>

@code {

}
