@page "/EmployeeRole"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@inject GetsEmployerEmployeeRoleViewModel _GetsEmployerEmployeeRoleViewModel 
@inject PostEmployerEmployeeRoleViewModel _PostEmployerEmployeeRoleViewModel
@inject PutEmployerEmployeeRoleViewModel _PutEmployerEmployeeRoleViewModel
@inject DeleteEmployerEmployeeRoleViewModel _DeleteEmployerEmployeeRoleViewModel
@inject BaseEmployerEmployeeRoleViewModel _BaseEmployerEmployeeRoleViewModel
<h3>EmployeeRolePage</h3>

@code {

}
