@page "/IncomingTag"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerIncomingTagViewModel _GetsEmployerIncomingTagViewModel 
@inject PostEmployerIncomingTagViewModel _PostEmployerIncomingTagViewModel
@inject PutEmployerIncomingTagViewModel _PutEmployerIncomingTagViewModel
@inject DeleteEmployerIncomingTagViewModel _DeleteEmployerIncomingTagViewModel
@inject BaseEmployerIncomingTagViewModel _BaseEmployerIncomingTagViewModel
<h3>IncomingTagPage</h3>

@code {

}
