@page "/IncomingTag"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofIncomingTag
@inject EmployerIncomingTagPageViewModel _EmployerIncomingTagPageViewModel

<h3>IncomingTagPage</h3>

@code {

}
