@using MudBlazor
<h3>EmployeePostEmployeeRoleComponent</h3>

@code {
    [Parameter] public EmployerPostWarehouseViewModel ViewModel { get; set; }
    [Parameter] public EventCallback PostToGets {get; set;}
}
