@page "/create/user/warehouse"
@using System.Text.Json;
@using System.Text
@using System.Net.Http.Headers
@inject IJSRuntime _JsRuntime;

<h3>VC_CreateWarehouse</h3>
<MudButton OnClick="goPopup">Go PopUp</MudButton>

@code {
    //devU01TX0FVVEgyMDIyMDQxNDE1MjQwOTExMjQ2NjA=
    HttpClient httpClient = new HttpClient();
    protected override void OnInitialized()
    {
        httpClient.BaseAddress = new Uri("https://www.juso.go.kr");

        base.OnInitialized();
    }
    async Task goPopup()
    {
        var myobject = new AddressAPIRequestBody();
        var objAsJson = JsonSerializer.Serialize(myobject);
        var request = new HttpRequestMessage(HttpMethod.Post, "addrlink/addrLinkUrl.do");
        request.Content = new StringContent(objAsJson, Encoding.UTF8);
        request.Content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
        var response = await httpClient.SendAsync(request);
    }
    public class AddressAPIRequestBody
    {
        public string confirmKey { get; set; }
        public string returnUrl { get; set; }
        public string resultType = "";
        public string useDetailAddr = "";
        public AddressAPIRequestBody()
        {
            confirmKey = "devU01TX0FVVEgyMDIyMDQxNDE1MjQwOTExMjQ2NjA=";
            returnUrl = "https://localhost:7159/create/user/warehouse";
        }
    }
}
