@page "/WorkingDesk"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerWorkingDeskViewModel _GetsEmployerWorkingDeskViewModel 
@inject PostEmployerWorkingDeskViewModel _PostEmployerWorkingDeskViewModel
@inject PutEmployerWorkingDeskViewModel _PutEmployerWorkingDeskViewModel
@inject DeleteEmployerWorkingDeskViewModel _DeleteEmployerWorkingDeskViewModel
@inject BaseEmployerWorkingDeskViewModel _BaseEmployerWorkingDeskViewModel

<h3>WorkingDeskPage</h3>

@code {

}
