@page "/WorkingDesk"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofWorkingDesk
@inject EmployerWorkingDeskPageViewModel _EmployerWorkingDeskPageViewModel

<h3>WorkingDeskPage</h3>

@code {

}
