@page "/JCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal
@inject GetsEmployerJCommodityViewModel _GetsEmployerJCommodityViewModel 
@inject PostEmployerJCommodityViewModel _PostEmployerJCommodityViewModel
@inject PutEmployerJCommodityViewModel _PutEmployerJCommodityViewModel
@inject DeleteEmployerJCommodityViewModel _DeleteEmployerJCommodityViewModel
@inject BaseEmployerJCommodityViewModel _BaseEmployerJCommodityViewModel
<h3>JCommodityPage</h3>

@code {

}
