@page "/JCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal.ofJCommodity
@inject EmployerJCommodityPageViewModel _EmployerJCommodityPageViewModel
<h3>JCommodityPage</h3>

@code {

}
