/* _content/PlatformRazor/Component1.razor.rz.scp.css */
.my-component[b-wk58hdx60k] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/PlatformRazor/ofForwarder/ofShared/MainLayout.razor.rz.scp.css */
.page[b-5uvwfotgks] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5uvwfotgks] {
    flex: 1;
}

.sidebar[b-5uvwfotgks] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5uvwfotgks] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5uvwfotgks]  a, .top-row .btn-link[b-5uvwfotgks] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5uvwfotgks] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5uvwfotgks] {
        display: none;
    }

    .top-row.auth[b-5uvwfotgks] {
        justify-content: space-between;
    }

    .top-row a[b-5uvwfotgks], .top-row .btn-link[b-5uvwfotgks] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5uvwfotgks] {
        flex-direction: row;
    }

    .sidebar[b-5uvwfotgks] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5uvwfotgks] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5uvwfotgks], article[b-5uvwfotgks] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PlatformRazor/ofForwarder/ofShared/MyNavMenu.razor.rz.scp.css */
.navbar-toggler[b-z4tuwx3tll] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z4tuwx3tll] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z4tuwx3tll] {
    font-size: 1.1rem;
}

.oi[b-z4tuwx3tll] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-z4tuwx3tll] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z4tuwx3tll] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z4tuwx3tll] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z4tuwx3tll]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z4tuwx3tll]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z4tuwx3tll]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z4tuwx3tll] {
        display: none;
    }

    .collapse[b-z4tuwx3tll] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/PlatformRazor/ofLogister/ofShared/MainLayout.razor.rz.scp.css */
.page[b-3tysswgg0w] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3tysswgg0w] {
    flex: 1;
}

.sidebar[b-3tysswgg0w] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3tysswgg0w] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3tysswgg0w]  a, .top-row .btn-link[b-3tysswgg0w] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3tysswgg0w] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3tysswgg0w] {
        display: none;
    }

    .top-row.auth[b-3tysswgg0w] {
        justify-content: space-between;
    }

    .top-row a[b-3tysswgg0w], .top-row .btn-link[b-3tysswgg0w] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3tysswgg0w] {
        flex-direction: row;
    }

    .sidebar[b-3tysswgg0w] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3tysswgg0w] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3tysswgg0w], article[b-3tysswgg0w] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PlatformRazor/ofLogister/ofShared/MyNavMenu.razor.rz.scp.css */
.navbar-toggler[b-pyrkp30tfx] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-pyrkp30tfx] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-pyrkp30tfx] {
    font-size: 1.1rem;
}

.oi[b-pyrkp30tfx] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-pyrkp30tfx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-pyrkp30tfx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-pyrkp30tfx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-pyrkp30tfx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-pyrkp30tfx]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-pyrkp30tfx]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-pyrkp30tfx] {
        display: none;
    }

    .collapse[b-pyrkp30tfx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/PlatformRazor/ofMarketer/ofShared/MainLayout.razor.rz.scp.css */
.page[b-20v6ighca2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-20v6ighca2] {
    flex: 1;
}

.sidebar[b-20v6ighca2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-20v6ighca2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-20v6ighca2]  a, .top-row .btn-link[b-20v6ighca2] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-20v6ighca2] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-20v6ighca2] {
        display: none;
    }

    .top-row.auth[b-20v6ighca2] {
        justify-content: space-between;
    }

    .top-row a[b-20v6ighca2], .top-row .btn-link[b-20v6ighca2] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-20v6ighca2] {
        flex-direction: row;
    }

    .sidebar[b-20v6ighca2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-20v6ighca2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-20v6ighca2], article[b-20v6ighca2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PlatformRazor/ofMarketer/ofShared/MyNavMenu.razor.rz.scp.css */
.navbar-toggler[b-puxhta868e] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-puxhta868e] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-puxhta868e] {
    font-size: 1.1rem;
}

.oi[b-puxhta868e] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-puxhta868e] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-puxhta868e] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-puxhta868e] {
        padding-bottom: 1rem;
    }

    .nav-item[b-puxhta868e]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-puxhta868e]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-puxhta868e]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-puxhta868e] {
        display: none;
    }

    .collapse[b-puxhta868e] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/PlatformRazor/ofOrderer/ofShared/MainLayout.razor.rz.scp.css */
.page[b-5mtpf3mscn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5mtpf3mscn] {
    flex: 1;
}

.sidebar[b-5mtpf3mscn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5mtpf3mscn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5mtpf3mscn]  a, .top-row .btn-link[b-5mtpf3mscn] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5mtpf3mscn] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5mtpf3mscn] {
        display: none;
    }

    .top-row.auth[b-5mtpf3mscn] {
        justify-content: space-between;
    }

    .top-row a[b-5mtpf3mscn], .top-row .btn-link[b-5mtpf3mscn] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5mtpf3mscn] {
        flex-direction: row;
    }

    .sidebar[b-5mtpf3mscn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5mtpf3mscn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-5mtpf3mscn], article[b-5mtpf3mscn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PlatformRazor/ofOrderer/ofShared/MyNavMenu.razor.rz.scp.css */
.navbar-toggler[b-o2ldupipri] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-o2ldupipri] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-o2ldupipri] {
    font-size: 1.1rem;
}

.oi[b-o2ldupipri] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-o2ldupipri] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-o2ldupipri] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-o2ldupipri] {
        padding-bottom: 1rem;
    }

    .nav-item[b-o2ldupipri]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-o2ldupipri]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-o2ldupipri]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-o2ldupipri] {
        display: none;
    }

    .collapse[b-o2ldupipri] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/PlatformRazor/ofProducter/ofShared/MainLayout.razor.rz.scp.css */
.page[b-jjrnx97ul5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jjrnx97ul5] {
    flex: 1;
}

.sidebar[b-jjrnx97ul5] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jjrnx97ul5] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jjrnx97ul5]  a, .top-row .btn-link[b-jjrnx97ul5] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-jjrnx97ul5] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jjrnx97ul5] {
        display: none;
    }

    .top-row.auth[b-jjrnx97ul5] {
        justify-content: space-between;
    }

    .top-row a[b-jjrnx97ul5], .top-row .btn-link[b-jjrnx97ul5] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jjrnx97ul5] {
        flex-direction: row;
    }

    .sidebar[b-jjrnx97ul5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jjrnx97ul5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-jjrnx97ul5], article[b-jjrnx97ul5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/PlatformRazor/ofProducter/ofShared/MyNavMenu.razor.rz.scp.css */
.navbar-toggler[b-65xsptwhrf] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-65xsptwhrf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-65xsptwhrf] {
    font-size: 1.1rem;
}

.oi[b-65xsptwhrf] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-65xsptwhrf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-65xsptwhrf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-65xsptwhrf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-65xsptwhrf]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-65xsptwhrf]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-65xsptwhrf]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-65xsptwhrf] {
        display: none;
    }

    .collapse[b-65xsptwhrf] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
