@page "/WCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofWCommodity
@inject EmployerWCommodityPageViewModel _EmployerWCommodityPageViewModel

<h3>WCommodityPage</h3>

@code {

}
