@page "/WCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerWCommodityViewModel _GetsEmployerWCommodityViewModel 
@inject PostEmployerWCommodityViewModel _PostEmployerWCommodityViewModel
@inject PutEmployerWCommodityViewModel _PutEmployerWCommodityViewModel
@inject DeleteEmployerWCommodityViewModel _DeleteEmployerWCommodityViewModel
@inject BaseEmployerWCommodityViewModel _BaseEmployerWCommodityViewModel
<h3>WCommodityPage</h3>

@code {

}
