@page "/GOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder.ofGOC
@inject EmployerGOCPageViewModel _EmployerGOCPageViewModel 
<h3>GOCPage</h3>

@code {

}
