@page "/GOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@inject GetsEmployerGOCViewModel _GetsEmployerGOCViewModel 
@inject PostEmployerGOCViewModel _PostEmployerGOCViewModel
@inject PutEmployerGOCViewModel _PutEmployerGOCViewModel
@inject DeleteEmployerGOCViewModel _DeleteEmployerGOCViewModel
@inject BaseEmployerGOCViewModel _BaseEmployerGOCViewModel
<h3>GOCPage</h3>

@code {

}
