@page "/MWCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofMWCommodity
@inject EmployerMWCommodityPageViewModel _EmployerMWCommodityPageViewModel

<h3>MWCommodityPage</h3>

@code {

}
