@page "/MWCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerMWCommodityViewModel _GetsEmployerMWCommodityViewModel 
@inject PostEmployerMWCommodityViewModel _PostEmployerMWCommodityViewModel
@inject PutEmployerMWCommodityViewModel _PutEmployerMWCommodityViewModel
@inject DeleteEmployerMWCommodityViewModel _DeleteEmployerMWCommodityViewModel
@inject BaseEmployerMWCommodityViewModel _BaseEmployerMWCommodityViewModel
<h3>MWCommodityPage</h3>

@code {

}
