@page "/HRRole"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@inject GetsEmployerHRRoleViewModel _GetsEmployerHRRoleViewModel 
@inject PostEmployerHRRoleViewModel _PostEmployerHRRoleViewModel
@inject PutEmployerHRRoleViewModel _PutEmployerHRRoleViewModel
@inject DeleteEmployerHRRoleViewModel _DeleteEmployerHRRoleViewModel
@inject BaseEmployerHRRoleViewModel _BaseEmployerHRRoleViewModel
<h3>HRRolePage</h3>

@code {

}
