@page "/HRRole"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR.ofHRRole
@inject EmployerHRRolePageViewModel _EmployerHRRolePageViewModel
<h3>HRRolePage</h3>

@code {

}
