@page "/user/warehouse"
<h3>VC_ReadWarehouse</h3>
<BusinessRazor.Components.ofWarehouser.ofTable.GetToTableForWarehouse></BusinessRazor.Components.ofWarehouser.ofTable.GetToTableForWarehouse>
@code {

}
