@page "/Get/KamisCode"
<h3>KamisCode</h3>
@inject ISnackbar Snackbar
<MudButton OnClick="ExcelToDb">ExcelToDb</MudButton>
<MudButton OnClick="Sheet4ToDb">Sheet4ToDb</MudButton>
<PlatformManager.Pages.ofGeneric.UserComponent Role="Warehouse"></PlatformManager.Pages.ofGeneric.UserComponent>
@code {

}
