@page "/KAptInfo"

<h3>KaptInfo</h3>
<MudButton OnClick="ExcelToDb">ExcelToDb</MudButton>
<MudButton OnClick="KAptBasicInfoToGOCAndWarehouse">KAptBasicInfoToGOCAndWarehouse</MudButton>
@code {

}

@code {

}
