@using BusinessData.ofGroupOrder.ofModel
@using BusinessLogic.ofManager.ofGeneric
@inject IEntityManager<GOC> GOCManager
<h3>GroupOrderTableComponent</h3>
<MudTable Items=GOCes>
		<HeaderContent>
			<MudTh>
				
			</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd>

			</MudTd>
		</RowTemplate>
</MudTable>

@code {
	public List<GOC> GOCes = new();
	protected override async Task OnInitializedAsync()
	{
		GOCes = await GOCManager.GetToListAsync();
	}
}
