@page "/JournalCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal
@inject GetsEmployerJournalCenterViewModel _GetsEmployerJournalCenterViewModel 
@inject PostEmployerJournalCenterViewModel _PostEmployerJournalCenterViewModel
@inject PutEmployerJournalCenterViewModel _PutEmployerJournalCenterViewModel
@inject DeleteEmployerJournalCenterViewModel _DeleteEmployerJournalCenterViewModel
@inject BaseEmployerJournalCenterViewModel _BaseEmployerJournalCenterViewModel
<h3>JournalCenterPage</h3>

@code {

}
