@page "/JournalCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofJournal.ofJournalCenter
@inject EmployerJournalCenterPageViewModel _EmployerJournalCenterPageViewModel
<h3>JournalCenterPage</h3>

@code {

}
