@page "/SGOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@inject GetsEmployerSGOCViewModel _GetsEmployerSGOCViewModel 
@inject PostEmployerSGOCViewModel _PostEmployerSGOCViewModel
@inject PutEmployerSGOCViewModel _PutEmployerSGOCViewModel
@inject DeleteEmployerSGOCViewModel _DeleteEmployerSGOCViewModel
@inject BaseEmployerSGOCViewModel _BaseEmployerSGOCViewModel

<h3>SGOCPage</h3>

@code {

}
