@page "/SGOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder.ofSGOC
@inject EmployerSGOCPageViewModel _EmployerSGOCPageViewModel

<h3>SGOCPage</h3>

@code {

}
