@page "/TradeCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade.ofTradeCenter
@inject EmployerTradeCenterPageViewModel _EmployerTradeCenterPageViewModel
<h3>TradeCenterPage</h3>

@code {

}
