@page "/TradeCenter"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@inject GetsEmployerTradeCenterViewModel _GetsEmployerTradeCenterViewModel 
@inject PostEmployerTradeCenterViewModel _PostEmployerTradeCenterViewModel
@inject PutEmployerTradeCenterViewModel _PutEmployerTradeCenterViewModel
@inject DeleteEmployerTradeCenterViewModel _DeleteEmployerTradeCenterViewModel
@inject BaseEmployerTradeCenterViewModel _BaseEmployerTradeCenterViewModel
<h3>TradeCenterPage</h3>

@code {

}
