@page "/OCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder.ofOCommodity
@inject EmployerOCommodityPageViewModel _EmployerOCommodityPageViewModel
<h3>OCommodityPage</h3>

@code {

}
