@page "/OCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofOrder
@inject GetsEmployerOCommodityViewModel _GetsEmployerOCommodityViewModel 
@inject PostEmployerOCommodityViewModel _PostEmployerOCommodityViewModel
@inject PutEmployerOCommodityViewModel _PutEmployerOCommodityViewModel
@inject DeleteEmployerOCommodityViewModel _DeleteEmployerOCommodityViewModel
@inject BaseEmployerOCommodityViewModel _BaseEmployerOCommodityViewModel
<h3>OCommodityPage</h3>

@code {

}
