@page "/ETCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade.ofETCommodity
@inject EmployerETCommodityPageViewModel _EmployerETCommodityPageViewModel
<h3>ETCommodityPage</h3>

@code {

}
