@page "/ETCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@inject GetsEmployerETCommodityViewModel _GetsEmployerETCommodityViewModel 
@inject PostEmployerETCommodityViewModel _PostEmployerETCommodityViewModel
@inject PutEmployerETCommodityViewModel _PutEmployerETCommodityViewModel
@inject DeleteEmployerETCommodityViewModel _DeleteEmployerETCommodityViewModel
@inject BaseEmployerETCommodityViewModel _BaseEmployerETCommodityViewModel
<h3>ETCommodityPage</h3>

@code {

}
