@page "/SWCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofSWCommodity
@inject EmployerSWCommodityPageViewModel _EmployerSWCommodityPageViewModel
<h3>SWCommodityPage</h3>

@code {

}
