@page "/SWCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerSWCommodityViewModel _GetsEmployerSWCommodityViewModel 
@inject PostEmployerSWCommodityViewModel _PostEmployerSWCommodityViewModel
@inject PutEmployerSWCommodityViewModel _PutEmployerSWCommodityViewModel
@inject DeleteEmployerSWCommodityViewModel _DeleteEmployerSWCommodityViewModel
@inject BaseEmployerSWCommodityViewModel _BaseEmployerSWCommodityViewModel
<h3>SWCommodityPage</h3>

@code {

}
