@using Microsoft.AspNetCore.Identity
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LogisterWebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/example-tab-set" Match="NavLinkMatch.Prefix">example-tab-set</MudNavLink>
    <MudNavGroup Title="UserSetting" Expanded="false">
        <MudNavLink Href="/userpage"  Match="NavLinkMatch.Prefix">userpage</MudNavLink>
        <MudNavLink Href="/user/role"  Match="NavLinkMatch.Prefix">Role</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Journal" Expanded="false">
        <MudNavLink Href= "/user/journalcenter"Match="NavLinkMatch.Prefix">JournalCenter</MudNavLink>
        <MudNavLink Href="/user/jcommodity"  Match="NavLinkMatch.Prefix">JCommodity</MudNavLink>
    </MudNavGroup>
     <MudNavGroup Title="Producte" Expanded="false">
        <MudNavLink Href= "/user/productcenter"Match="NavLinkMatch.Prefix">ProductCenter</MudNavLink>
        <MudNavLink Href="/user/pcommodity"  Match="NavLinkMatch.Prefix">PC</MudNavLink>
        <MudNavLink Href="/user/spcommodity"  Match="NavLinkMatch.Prefix">SPC</MudNavLink>
        <MudNavLink Href="/user/mpcommodity"  Match="NavLinkMatch.Prefix">MPC</MudNavLink>
        <MudNavLink Href="/user/epcommodity"  Match="NavLinkMatch.Prefix">EPC</MudNavLink>
    </MudNavGroup>
     <MudNavGroup Title="Trade" Expanded="false">
        <MudNavLink Href="/user/tradecenter"  Match="NavLinkMatch.Prefix">TradeCenter</MudNavLink>
        <MudNavLink Href="/user/tcommodity"  Match="NavLinkMatch.Prefix">TC</MudNavLink>
        <MudNavLink Href="/user/stcommodity"  Match="NavLinkMatch.Prefix">STC</MudNavLink>
        <MudNavLink Href="/user/mtcommodity"  Match="NavLinkMatch.Prefix">MTC</MudNavLink>
        <MudNavLink Href="/user/etcommodity"  Match="NavLinkMatch.Prefix">ETC</MudNavLink>
    </MudNavGroup>
     <MudNavGroup Title="Warehouse" Expanded="false">
        <MudNavLink Href="/user/warehouse" Match="NavLinkMatch.Prefix">Warehouse</MudNavLink>
        <MudNavLink Href="/user/wcommodity"  Match="NavLinkMatch.Prefix">WC</MudNavLink>
        <MudNavLink Href="/user/swcommodity"  Match="NavLinkMatch.Prefix">SWC</MudNavLink>
        <MudNavLink Href="/user/mwcommodity"  Match="NavLinkMatch.Prefix">MWC</MudNavLink>
        <MudNavLink Href="/user/ewcommodity"  Match="NavLinkMatch.Prefix">EWC</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {
    //[Inject] public UserManager<IdentityUser> _userManager { get; set; }
    //[Inject] public IHttpContextAccessor _httpContextAccessor { get; set; }
    //public IdentityUser User { get; set; }
    //protected override async Task OnInitializedAsync()
    //{
    //    User = await _userManager.GetUserAsync(_httpContextAccessor.HttpContext.User);
    //}
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}