@inject NavigationManager NavigationManager
@inject UserManager<IdentityUser> UserMangaer
@inject IHttpContextAccessor HttpContextAccessor

<h3>UserComponent</h3>

@code {
	[Parameter] public string Role { get; set; }
	
}
