@page "/HRBusinessPart"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@inject GetsEmployerHRBusinessPartViewModel _GetsEmployerHRBusinessPartViewModel 
@inject PostEmployerHRBusinessPartViewModel _PostEmployerHRBusinessPartViewModel
@inject PutEmployerHRBusinessPartViewModel _PutEmployerHRBusinessPartViewModel
@inject DeleteEmployerHRBusinessPartViewModel _DeleteEmployerHRBusinessPartViewModel
@inject BaseEmployerHRBusinessPartViewModel _BaseEmployerHRBusinessPartViewModel
<h3>HRBusinessPartPage</h3>

@code {

}
