@page "/HRBusinessPart"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR.ofHRBusinessPart
@inject EmployerHRBusinessPartPageViewModel _EmployerHRBusinessPartPageViewModel
<h3>HRBusinessPartPage</h3>

@code {

}
