@page "/EWCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@inject GetsEmployerWarehouseViewModel _GetsEmployerWarehouseViewModel 
@inject PostEmployerWarehouseViewModel _PostEmployerWarehouseViewModel
@inject PutEmployerWarehouseViewModel _PutEmployerWarehouseViewModel
@inject DeleteEmployerWarehouseViewModel _DeleteEmployerWarehouseViewModel
@inject BaseEmployerWarehouseViewModel _BaseEmployerWarehouseViewModel
<h3>EWCommodityPage</h3>

@code {

}
