@page "/EWCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofWarehouse.ofEWCommodity
@inject EmployerEWCommodityPageViewModel _EmployerEWCommodityPageViewModel

<h3>EWCommodityPage</h3>

@code {

}
