@page "/MTCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade.ofMTCommodity
@inject EmployerMTCommodityPageViewModel _EmployerMTCommodityPageViewModel
<h3>MTCommodityPage</h3>

@code {

}
