@page "/MTCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@inject GetsEmployerMTCommodityViewModel _GetsEmployerMTCommodityViewModel 
@inject PostEmployerMTCommodityViewModel _PostEmployerMTCommodityViewModel
@inject PutEmployerMTCommodityViewModel _PutEmployerMTCommodityViewModel
@inject DeleteEmployerMTCommodityViewModel _DeleteEmployerMTCommodityViewModel
@inject BaseEmployerMTCommodityViewModel _BaseEmployerMTCommodityViewModel
<h3>MTCommodityPage</h3>

@code {

}
