@page "/TCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@inject GetsEmployerTCommodityViewModel _GetsEmployerTCommodityViewModel 
@inject PostEmployerTCommodityViewModel _PostEmployerTCommodityViewModel
@inject PutEmployerTCommodityViewModel _PutEmployerTCommodityViewModel
@inject DeleteEmployerTCommodityViewModel _DeleteEmployerTCommodityViewModel
@inject BaseEmployerTCommodityViewModel _BaseEmployerTCommodityViewModel
<h3>TCommodityPage</h3>

@code {

}
