@page "/TCommodity"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofTrade.ofTCommodity
@inject EmployerTCommodityPageViewModel _EmployerTCommodityPageViewModel
<h3>TCommodityPage</h3>

@code {

}
