@page "/HREmployee"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR.ofHREmployee
@inject EmployerHREmployeePageViewModel _EmployerHREmployeePageViewModel
<h3>HREmployeePage</h3>

@code {

}

