@page "/HREmployee"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofHR
@inject GetsEmployerHREmployeeViewModel _GetsEmployerHREmployeeViewModel 
@inject PostEmployerHREmployeeViewModel _PostEmployerHREmployeeViewModel
@inject PutEmployerHREmployeeViewModel _PutEmployerHREmployeeViewModel
@inject DeleteEmployerHREmployeeViewModel _DeleteEmployerHREmployeeViewModel
@inject BaseEmployerHREmployeeViewModel _BaseEmployerHREmployeeViewModel
<h3>HREmployeePage</h3>

@code {

}
