@page "/EGOC"
@using BusinessView.ofViewModels.ofWebApp.ofEmployer.ofGroupOrder
@inject GetsEmployerEGOCViewModel _GetsEmployerEGOCViewModel 
@inject PostEmployerEGOCViewModel _PostEmployerEGOCViewModel
@inject PutEmployerEGOCViewModel _PutEmployerEGOCViewModel
@inject DeleteEmployerEGOCViewModel _DeleteEmployerEGOCViewModel
@inject BaseEmployerEGOCViewModel _BaseEmployerEGOCViewModel

<h3>EGOCPage</h3>

@code {

}
